.skills-parent{
    height: 1000px;
}
.skills-parent h1{
    font-size: 70px;
}

.skills{
 display: flex;
 margin-top: 7%;
}
.skills span{
   margin-top: 10%;
}
.skills p{
    background-color: #222222;
    margin-left: 20%;
    padding: 10px;
    width: 60%;
    border-radius: 8%;
}
.skill-box{
    background-color: #e2e2e2;
    margin-left: 5%;
    padding: 5%;
    height: 500px;
    width: 50%;
    border-radius: 8%;
    display: flex;
}
.skill-box1,.skill-box2{
    width: 60%;
}